.flex-wrapper {
	display: flex;
	/* flex-flow: row nowrap; */

	/* display: flex; */
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/* margin-bottom: 350px; */
  }
  
  .single-chart {
	width: 33%;
	justify-content: space-around ;
	 background:#FBBF77;

	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
	flex: 1;
	padding: 0 30px 100px;
	margin: 2%;
	min-width: 250px;
	max-width: 350px;
  }
  
  .circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
  }
  
  .circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
  }
  
  .circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
	0% {
	  stroke-dasharray: 0 100;
	}
  }
  
  .circular-chart.orange .circle {
	stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
	stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
	stroke: #3c9ee5;
  }
  .circular-chart.light-blue .circle {
	stroke: #5eb3e1;
  }
  .circular-chart.red .circle {
	stroke: #f7294b;
  }
  
  .percentage {
	fill: #666;
	font-family: sans-serif;
	font-size: 0.5em;
	text-anchor: middle;
  }
  

  .text-center h1 {
	  padding-bottom: 30px;
	  padding-top: 20px;
  }