*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: jetBrains;
  src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
}

html {
  font-size: 62.5%;

  overflow: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #111316 !important;
}

.p-10 {
  padding: 0 6% !important;
}

h3 {
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

  &:hover,
  &:focus {
    color: #f2a900;
    text-decoration: none;
  }
}

body {
  box-sizing: border-box;
  font-family: jetBrains;
  // font-family: 'din-2014', 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #111316 !important;
  /* background-color: #111316 !important; */
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.h-100 {
  height: 100% !important;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

.shifty {
  margin-top: 90px;
  margin-left: 20px;
}

.particles-js-canvas-el {
  position: absolute !important;
  top: 0 !important;
  z-index: 1 !important;
  height: 572px !important;
}

.row-spacing {
  margin: 0 auto;
  margin-top: 1rem;
}

.btn-outline-tejon {
  border: 1px solid #f2a900;
  background: transparent;
  color: #f2a900;
  font-size: 16px;
  // border-radius: 9px;

  &:hover {
    transform: scale(1.2);
    color: #f2a900 !important;
  }
}

.mt-120 {
  margin-top: 120px;
  @media (max-width: 992px) {
    margin-top: 10px;
  }
}

.mb-90 {
  margin-bottom: 90px;
  @media (max-width: 992px) {
    margin-bottom: 90px;
  }
}

.justify-content-space-between {
  justify-content: space-between;
}

// Anthony CSS
.subTitle {
  font-size: 15px !important;
  text-align: center !important;
}
.vtitle {
  color: #f2a900 !important;
}

.root {
  #preloader-active {
    .preloader {
      background-color: #111316;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999999;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
      margin: 0 auto;

      .position-relative {
        position: relative !important;
      }

      .preloader-circle {
        width: 150px;
        height: 150px;
        position: relative;
        border-style: solid;
        border-width: 4px;
        border-top-color: #f2a900;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        z-index: 10;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 5px 0 rgb(35, 181, 185 / 15%);
        box-shadow: 0 1px 5px 0 rgb(35, 181, 185 / 15%);
        background-color: #fff;
        -webkit-animation: zoom 2000ms infinite ease;
        animation: zoom 2000ms infinite ease;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
      }

      .preloader-img {
        position: absolute;
        top: 50%;
        z-index: 200;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 6px;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
      }
    }
  }

  @keyframes zoom {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
    }
  }

  #header {
    z-index: 900 !important;
    .navbar {
      width: 100%;
      height: 90px;
      background: transparent;
      justify-content: left !important;

      .logo-txt {
        display: block;
        font-size: 16px;
        color: #f2a900;
        margin-right: 1rem;
        line-height: 1 !important;

        strong {
          font-family: jetBrains;
          font-weight: 900;
          font-size: 19px;
        }
      }
    }
    .header-section {
      width: 100%;
      height: auto;
      overflow-x: hidden;
      overflow-y: hidden;

      .header-hero {
        width: 100%;
        height: auto;
        padding: 25px 15px;

        .hero-title {
          text-transform: capitalize !important;
          font-size: 4.7rem;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
          color: #f2a900;
        }

        .hero-subtitle {
          color: #fff;
          font-size: 3rem;
          font-size: 14px;
          text-align: justify;
        }
      }

      .header-hero-img {
        width: 100%;
        height: auto;
        margin-top: -70px;
        max-height: 600px;
        padding: 0px 10px;

        @media (max-width: 992px) {
          margin-top: 0px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .floating-icons {
        position: absolute;
        top: 90px;
        width: 100%;
        height: 150vh;
        left: 0;
        right: 0;
        padding: 20px 20px;

        @media (max-width: 992px) {
          height: 143vh;
        }

        .float-1 {
          position: inherit;
          top: 40px;
          left: 70px;
          width: 80px;
          height: 90px;
          color: #f2a900;

          @media (max-width: 992px) {
            top: 0;
          }
        }

        .float-2 {
          position: inherit;
          top: 60px;
          left: 47%;
          width: 80px;
          height: 90px;
          color: #f2a900;

          @media (max-width: 992px) {
            top: 30px;
          }

          i {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
          }
        }

        .float-3 {
          position: inherit;
          top: 40px;
          right: 70px;
          width: 80px;
          height: 90px;
          color: #f2a900;

          @media (max-width: 992px) {
            top: 0;
            right: 20px;
          }

          i {
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
          }
        }

        .float-4 {
          position: inherit;
          top: 70%;
          left: 70px;
          width: 80px;
          height: 90px;
          color: #f2a900;
        }

        .float-5 {
          position: inherit;
          top: 60%;
          left: 47%;
          width: 80px;
          height: 90px;
          color: #f2a900;

          @media (max-width: 992px) {
            top: 68%;
          }
        }

        .float-6 {
          position: inherit;
          top: 70%;
          right: 70px;
          width: 80px;
          height: 90px;
          color: #f2a900;

          @media (max-width: 992px) {
            right: 20px;
          }

          i {
            // --animate-duration: 25s;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
          }
        }

        i {
          color: #f2a900;
          font-size: 50px;
          opacity: 0.67;
          --animate-duration: 10s;
        }
      }
    }
  }

  #aboutUs {
    padding: 30px;
    .title-section {
      padding: 0;
      margin: 200px 0 10px 0;
      font-size: 5.7rem;
      font-weight: 700;
      line-height: 1.3;
      background-color: transparent;
      grid-column: 1 / span 5;
      height: auto;
      padding: 10rem 5rem 0rem 5rem;
      color: #f2a900;
      text-align: center;
    }

    .subtitle {
      color: #fff;
      font-size: 1.2rem;
      letter-spacing: 2px;
      text-align: center;
      padding-bottom: 90px;
    }

    .aboutus-card {
      color: #fff;
      width: 100%;
      opacity: 0.8;
      background-color: #20252c;
      padding: 41px 46px 36px 40px;

      .aboutus-card-icon {
        margin-top: -80px !important;
        width: 90px;
        height: 90px;
        margin-bottom: 27px;
        background-color: #2b313b;
        border-radius: 100%;
        color: #f2a900;

        i {
          margin-left: 24% !important;
          margin-top: 23% !important;
          font-size: 40px;
        }
      }

      .aboutus-card-title {
        font-weight: bold;
        font-size: 24px;
      }
      .aboutus-card-content {
        font-size: 16px;
        margin: 17px 0;
        color: #c3cdd3;
      }

      .aboutus-card-link {
        font-size: 16px;
        color: #f2a900;
        text-decoration: none;
        font-weight: 500;
      }

      &:hover {
        .aboutus-card-icon img {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }
      }
    }

    .aboutus-desc-block-content {
      // float: left;
      .aboutus-desc-block-title {
        font-size: 36px;
        line-height: 1.2;
        color: #fff;
        display: inline-block;
        margin-bottom: 2rem;
        font-weight: 600;

        @media (max-width: 992px) {
          font-size: 17px;
        }
      }

      .aboutus-desc-block-text {
        font-size: 16px;
        line-height: 1.8;
        color: #a9b1b6;
      }
    }

    .aboutus-desc-img {
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        max-height: 300px;
      }
    }
  }

  #video-bg {
    .videobg-spacing {
      height: 600px;
      position: relative;
      padding: 50px 0;
      z-index: 0;
      color: #fff;
      font-family: jetBrains;
      // font-family: 'Signika Negative', 'Helvetica Neue', Helvetica, Arial,
      // sans-serif;
      text-align: center;
      width: 100%;
      overflow: hidden;

      @media (min-width: 768px) {
        min-height: 700px;
        // top: -181px;
        // margin-bottom: -181px !important;
      }

      .vidvid {
        position: absolute;
        top: 100px;
        left: 0;
        height: 100%;
        width: 100%;
        // z-index: 1;
        text-align: left;
        overflow: hidden;

        #videobcg {
          position: absolute;
          top: 0px;
          left: 0px;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -1000;
          overflow: hidden;
          margin: 0;
          padding: 0;
          pointer-events: none;
        }
      }

      .container {
        height: 600px !important;
        color: #fff;

        .btn-outline-play {
          width: 180px;
          height: 180px;
          margin-top: 170px;
          // margin-bottom: 120px;
          font-size: 100px;
          color: #fff;
          z-index: 5;
          text-align: center;
          background: transparent;
          border: 7px solid #fff;
        }
      }
    }

    .imgbg {
      .imgimgid {
        width: 100%;
        height: auto;
        margin: 20px 0px;
        @media (max-width: 992px) {
          margin: 20px auto;
          padding-left: 15px;
          padding-right: 15px;
        }

        img {
          width: 100% !important;
          height: 600px !important;
        }

        // img {
        //   width: 100% !important;
        //   height: 327px !important;
        // }
      }
    }
  }

  #btc-counter {
    width: 100%;
    height: auto;
    padding: 10% 20%;
    .btc-counter-section {
      width: 100%;
      display: flex;
      color: #f2a900;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 0.8;
      background-color: #20252c;
      padding: 10px 20px;

      .col h4 {
        text-align: center;
        margin-top: 20%;
        margin-bottom: 20%;
        font-size: 18px;
        font-weight: 600;
      }

      .col-img {
        display: flex;
        justify-content: center;

        img {
          margin-top: 10%;
          margin-bottom: 10%;
        }
      }
    }
  }

  #newsletter {
    background-color: #20252c;
    .newsletter-section {
      width: 100%;
      height: auto;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 10em 0;

      .newsletter-header {
        h2 {
          font-size: 3.4em;
          margin-bottom: 30px;
          letter-spacing: 3px;
          font-weight: 600;
          color: #f2a900;
          text-align: center;
          text-transform: capitalize;
        }

        p {
          color: #c3cdd3;
          font-size: 1.14em;
          width: 30%;
          text-align: center;
          max-width: 410px;
          letter-spacing: 1.1px;
          line-height: 28px;
          overflow: hidden;
          text-align: center;
          margin-right: auto;
          margin-left: auto;

          @media (max-width: 992px) {
            width: 90%;
          }
        }
      }

      .newsletter-body {
        .form-group {
          display: block;
          padding: 0 20%;

          @media (max-width: 992px) {
            padding: 0;
          }

          label {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 15px;
          }

          .input-group {
            display: inline-flex;
            width: 100%;
            justify-content: center;

            @media (max-width: 992px) {
              display: block;
            }

            input {
              width: 40%;
              border: none;
              background-image: none;
              background-color: transparent;
              box-shadow: none;
              outline: none;
              background-color: #171a1f;
              padding: 1em 2em;
              // margin-right: 2em;
              height: 45px;
              display: block;
              border: 1px solid #545d63;
              padding-left: 2rem;
              color: #a9b1b6;
              font-size: 1.4rem;
              font-family: jetBrains;
              // font-family: 'din-2014', 'Source Sans Pro', sans-serif;

              @media (max-width: 992px) {
                margin-top: 1.5rem !important;
                margin-bottom: 1.5rem !important;
                width: 100%;
              }

              &:focus {
                border: 1px solid #fff;
                color: #fff;
                font-size: 16px;
              }
            }

            button {
              width: 20%;
              justify-content: center;
              -webkit-box-align: center;
              align-items: center;
              font-size: 17px;
              font-weight: 600;
              letter-spacing: 0.02em;
              border: none;
              color: #fff;
              height: 45px;
              padding: 0px 25px;
              cursor: pointer;
              text-decoration: none;
              min-width: 200px;
              background-size: 230% 100%;
              background-color: transparent;
              background-image: linear-gradient(
                70deg,
                #fcb102,
                #b8891c,
                #b68512,
                #fcb000
              );
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
              white-space: nowrap;

              @media (max-width: 992px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  #footer {
    display: flex;
    background-color: #111316;
    border-top: 1px solid #293139;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 100px 30px;
    width: 100%;

    @media only screen and (max-width: 1090px) {
      padding-top: 0px;
      margin-top: 20px;
      padding-bottom: 50px;
      border-top: none;
    }

    .footer-section {
      width: 100% !important;
    }

    .footer-logo {
      height: auto;
      max-height: 100px;
      padding: 10px 30%;
      img {
        width: 100%;
        height: 100%;
        max-height: 100px;
      }
    }

    .footer-title {
      width: 100%;
      margin: 10px auto;
      padding: 0 25%;

      .footer-logo-txt {
        font-size: 17px;
        color: #f2a900;
        text-transform: capitalize;
        text-align: center;
        font-weight: 500;
        // margin: 0 auto;
      }
    }

    .social-icons {
      display: -webkit-box;
      display: flex;
      // border-top: 1px solid #293139;
      padding-top: 20px;
      // padding-left: 30px;

      .social-links {
        display: -webkit-box;
        display: flex;

        a {
          display: -webkit-box;
          display: flex;
          text-decoration: none;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 1px solid #333333;
          margin-right: 10px;

          i {
            color: white;
            font-size: 15px;
          }

          &:hover {
            i {
              color: #f2a900;
            }
          }
        }
      }
    }

    .footer-terms-privacy {
      ul {
        display: -webkit-box;
        display: flex;
        list-style: none;
        margin-top: 28px;
        margin-top: 70px;

        li:nth-child(1) a {
          border-right: 1px solid #a9b1b6;
          padding-right: 20px;
        }

        li:nth-child(2) a {
          padding-left: 20px;
        }
      }
    }

    .footer-copyright {
      margin-top: 20px;
      font-size: 14px;
      color: #a9b1b6;
    }

    .footer-about,
    .footer-links {
      .footer-subtitle {
        color: #a9b1b6;
        font-size: 15px;
      }

      @media (min-width: 992px) {
        margin-top: 90px;
      }
    }

    .footer-links {
      @media (min-width: 992px) {
        margin-left: 90px;
      }
    }

    a {
      color: #a9b1b6;
      font-size: 15px;
      &:hover {
        color: rgba(110, 111, 194, 0.973);
      }
    }
  }

  #back-to-top {
    background: #f2a900;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgb(108, 98, 98 / 20%);

    .show {
      &:hover {
        color: #fff;
      }
    }
  }

  .new_header {
    .shapes-wrapper {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      // display: block;
      overflow: hidden;
      height: 100%;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
      background-color: transparent;
      -webkit-perspective: 1000px;
      perspective: 1000px;

      .large-circle {
        position: absolute;
        left: 15%;
        top: 20px;
        opacity: 0.5;
      }

      .small-triangle {
        position: absolute;
        left: 45%;
        top: 50px;
        opacity: 0.5;
      }

      .large-circle-right {
        position: absolute;
        right: 15%;
        top: 20px;
        opacity: 0.9;
      }
    }
  }
}
