<div class="aboutus-section my-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-title">
                    <h3 class="title-section py-3">Our Bitcoin Mining Services</h3>
                    <p class="subtitle my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, sit.
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-4">
                <div class="aboutus-card wow fadeInUp" data-wow-delay="1s">
                    <div class="aboutus-card-icon wow bounceIn" data-wow-delay="1.3s">
                        <img src="https://blockstream.com/img/img/mining_icon_colocation.svg" alt="colocation">
                    </div>
                    <div class="aboutus-card-title"> Colocation</div>
                    <div class="aboutus-card-content"> 
                        Host your Bitcoin mine at one of our state-of-the-art
                        mining facilities in North America. Gain access to ASICs, energy, reporting, and our expert maintenance.
                    </div>
                    <a href="/mining/colocation/" class="aboutus-card-link">
                        Learn more
                        <span><i class="fas fa-long-arrow-alt-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="aboutus-card wow fadeInUp" data-wow-delay="1s">
                    <div class="aboutus-card-icon wow bounceIn" data-wow-delay="1.3s">
                        <img src="https://blockstream.com/img/img/mining_icon_colocation.svg" alt="colocation">
                    </div>
                    <div class="aboutus-card-title"> Colocation</div>
                    <div class="aboutus-card-content">
                        Host your Bitcoin mine at one of our state-of-the-art
                        mining facilities in North America. Gain access to ASICs, energy, reporting, and our expert maintenance.
                    </div>
                    <a href="/mining/colocation/" class="aboutus-card-link">
                        Learn more
                        <span><i class="fas fa-long-arrow-alt-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="aboutus-card wow fadeInUp" data-wow-delay="1s">
                    <div class="aboutus-card-icon wow bounceIn" data-wow-delay="1.3s">
                        <img src="https://blockstream.com/img/img/mining_icon_colocation.svg" alt="colocation">
                    </div>
                    <div class="aboutus-card-title"> Colocation</div>
                    <div class="aboutus-card-content">
                        Host your Bitcoin mine at one of our state-of-the-art
                        mining facilities in North America. Gain access to ASICs, energy, reporting, and our expert maintenance.
                    </div>
                    <a href="/mining/colocation/" class="aboutus-card-link">
                        Learn more
                        <span><i class="fas fa-long-arrow-alt-right"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row my-4 ">
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-img  wow fadeInRight" data-wow-delay="2.6s">
                    <img src="img/bg/aboutus/network.svg" alt="bitcoin network" class="align-top" />
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-block-content text-left">
                    <span class="aboutus-desc-block-title">
                        Strengthening the Bitcoin network
                    </span>
                    <div class="aboutus-desc-block-text"> 
                        Our mining services reduces risk and lower the
                        barriers to entry, making it easier for you or your business to participate in Bitcoin’s proof
                        of work, improving the network’s decentralization.
                    </div>
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-block-content text-left">
                    <span class="aboutus-desc-block-title">
                        Diversifying Bitcoin’s energy sources
                    </span>
                    <div class="aboutus-desc-block-text">
                        Our colocation services and the BMN use a majority of
                        non-fossil power sources, keeping mining carbon emissions to a minimum. And Blockstream energy
                        go even further, providing latent energy demand for even the most remote renewable energy
                        projects.
                    </div>
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-img  wow fadeInRight" data-wow-delay="2.6s">
                    <img src="img/bg/aboutus/energy.svg" alt="bitcoin network" class="align-top" />
                </div>
            </div>
            
        </div>
    </div>
</div>