<div class="mining_overview my-4">
    <h3 class="title-section py-3">Our Bitcoin Mining Services</h3>
    <div class="mining_overview_services">
        <div class="mining_overview_services_card">
            <div class="mining_overview_services_card_logo">
                <img src="https://blockstream.com/img/img/mining_icon_colocation.svg" alt="colocation">
            </div>
            <div class="mining_overview_services_card_title"> Colocation</div>
            <div class="mining_overview_services_card_content"> Host your Bitcoin mine at one of our state-of-the-art
                mining facilities in North America. Gain access to ASICs, energy, reporting, and our expert maintenance.
            </div>
            <a href="/mining/colocation/" class="mining_overview_services_card_link">
                Learn more
                <span><i class="fas fa-long-arrow-alt-right"></i></span>
            </a>
        </div>
        <div class="mining_overview_services_card">
            <div class="mining_overview_services_card_logo">
                <img src="https://blockstream.com/img/img/mining_icon_energy.svg" alt="colocation">
            </div>
            <div class="mining_overview_services_card_title"> Energy</div>
            <div class="mining_overview_services_card_content"> Increase the efficiency of your power generation
                facility with our modular Bitcoin mining units, which provide scalable energy demand, anywhere on the
                planet.
            </div>
            <a href="/energy/" class="mining_overview_services_card_link">
                Learn more
                <span><i class="fas fa-long-arrow-alt-right"></i></span>
            </a>
        </div>
        <div class="mining_overview_services_card">
            <div class="mining_overview_services_card_logo">
                <img src="https://blockstream.com/img/img/mining_icon_investment.svg" alt="colocation">
            </div>
            <div class="mining_overview_services_card_title"> Investment</div>
            <div class="mining_overview_services_card_content"> The Blockstream Mining Note security token provides you
                with access to Bitcoin hashrate at our enterprise-grade facilities (available for non-US qualifying
                investors).
            </div>
            <a href="/finance/bmn/" class="mining_overview_services_card_link">
                Learn more
                <span><i class="fas fa-long-arrow-alt-right"></i></span>
            </a>
        </div>
    </div>
    <div class="mining_overview_section2">
        <div class="headline-row fly reverse headline-row_spacing_top-large ">
            <div class="headline-row_block">
                <div class="headline-row_block_content"> 
                    <span class="headline-row_block_content_title">Strengthening
                        the Bitcoin network</span>
                    <div class="headline-row_block_content_text"> Our mining services reduces risk and lower the
                        barriers to entry, making it easier for you or your business to participate in Bitcoin’s proof
                        of work, improving the network’s decentralization.</div>
                </div>
            </div>
            <div class="headline-row_icon"> <img class="headline-row_image-size_large"
                    src="https://blockstream.com/img/img/mining_strengthening_the_btc_network.svg" alt="Mining"></div>
        </div>
        <div class="headline-row fly headline-row_spacing_top-large ">
            <div class="headline-row_block">
                <div class="headline-row_block_content"> <span class="headline-row_block_content_title">Diversifying
                        Bitcoin’s energy sources</span>
                    <div class="headline-row_block_content_text"> Our colocation services and the BMN use a majority of
                        non-fossil power sources, keeping mining carbon emissions to a minimum. And Blockstream energy
                        go even further, providing latent energy demand for even the most remote renewable energy
                        projects.</div>
                </div>
            </div>
            <div class="headline-row_icon"> <img class="headline-row_image-size_large"
                    src="https://blockstream.com/img/img/mining_diversifying_btc_energy_sources.svg" alt="Mining"></div>
        </div>
    </div>
</div>