<div class="aboutus-section my-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-title">
                    <h1 class="title-section py-3 wow slideInUp">We Are Bitcoin-Only</h1>
                    <p class="subtitle my-2 subTitle wow slideInUp" data-wow-delay="1s"> 
                        Tejon Citadel is a bitcoin-only company and we're on a oneway mission to reinforce the citadel around the decentralized
                        bitcoin network. Bitcoin is not about having a lot of money, it's about having a lot of options.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-img  wow fadeInRight">
                    <!-- <img src="img/about.svg" alt="bitcoin network" class="align-top" /> -->
                    <img src="img/bg/aboutus/bg-1.jpg" class="align-top">
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-block-content text-left">

                    <div class="aboutus-desc-block-text wow fadeInLeft"">
                        Tejon Citadel is a North American Bitcoin mining operation. Tejon Citadel operates blockchain
                        computing centers that power the global decentralized financial economy. Tejon Citadel is
                        focused on supporting the Bitcoin ecosystem through decentralized proof-of-work mining by
                        providing computing power to the Bitcoin network and processing transactions. We are believers
                        in Bitcoin and our efforts aimed at growing our mining operation demonstrates our commitment to
                        the Bitcoin network.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row my-4">
            <div class="col-md-4 my-3">
                <div class="aboutus-card wow fadeInUp">
                    <div class="aboutus-card-icon wow bounceInUp" data-wow-delay="1s">
                        <!-- <i class="fas fa-network-wired"></i> -->
                        <img src="img/bg/aboutus/decentralized.png" alt="colocation">
                    </div>
                    <div class="aboutus-card-title"> Decentralized Mining</div>
                    <div class="aboutus-card-content">
                        The more participants involved in Bitcoin mining, the more secure the Bitcoin network. Decentralization is essential to
                        maintain a strong and secure network.
                    </div>

                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="aboutus-card wow fadeInUp" data-wow-delay="2s">
                    <div class="aboutus-card-icon wow bounceInUp" data-wow-delay="3s">
                        <!-- <i class="fas fa-recycle"></i> -->
                        <img src="img/bg/aboutus/renewable.png" alt="colocation">
                    </div>
                    <div class="aboutus-card-title"> Clean Energy</div>
                    <div class="aboutus-card-content">
                        Increasing operational efficiency by leveraging clean, renewable and scalable energy generation facilities.
                    </div>
            
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="aboutus-card wow fadeInUp" data-wow-delay="1s">
                    <div class="aboutus-card-icon wow bounceInUp" data-wow-delay="2s">
                        <!-- <i class="fas fa-shield-alt"></i> -->
                        <img src="img/bg/aboutus/secure.png" alt="colocation">
                    </div>
                    <div class="aboutus-card-title"> Secure Facilities</div>
                    <div class="aboutus-card-content">
                        Access control systems, surveillance, and 24x7 onsite security staff ensure equipment is always secure.
                    </div>

                </div>
            </div>
            
        </div>

        <div class="row my-4 ">
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-img  wow fadeInRight" data-wow-delay="1s">
                    <img src="img/bg/aboutus/network.svg" alt="bitcoin network" class="align-top" />
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-block-content text-left wow fadeInLeft" data-wow-delay="1s">
                    <span class="aboutus-desc-block-title">
                        Fortifying the Bitcoin network
                    </span>
                    <div class="aboutus-desc-block-text">
                        Tejon Citadel participates in Bitcoin’s proof of work, improving the network’s decentralization.
                    </div>
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-block-content text-left wow fadeInLeft" data-wow-delay="1s">
                    <span class="aboutus-desc-block-title">
                        Developing Antifragile energy sources
                    </span>
                    <div class="aboutus-desc-block-text">
                        By utilizing colocation Tejon Citadel is able to utilize a majority of non-fossil power sources, keeping mining carbon
                        emissions to a minimum. Additionally Tejon Citadel plans to go even further by tapping into latent energy demand
                        orphaned energy sources.
                    </div>
                </div>
            </div>
            <div class="col-md-6 row-spacing">
                <div class="aboutus-desc-img  wow fadeInRight" data-wow-delay="1s">
                    <img src="img/bg/aboutus/energy.svg" alt="bitcoin network" class="align-top" />
                </div>
            </div>
        </div>

    </div>
</div>