<div class="product_wallets scrollElement slideUp">
    <!-- <h2>Set up a wallet</h2> -->
    <div class="product_wallets_options">
        <div class="w-100">
            <div class="contianer">
                <div class="row w-100">
                    <div class="col">
                        <img src="https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=014"
                            alt="Blockstream wallet icon">
                    </div>
                    <div class="col">
                        <h4>BTC</h4>
                    </div>
                    <div class="col">
                        <h4>Bitcoin</h4>
                    </div>
                    <div class="col">
                        <h4>$58, 676.89</h4>
                    </div>
                    <div class="col">
                        <h4>+2.45%</h4>
                    </div>
                </div>
            </div>

            <!-- <div class="container">
                        
                    </div> -->
        </div>
    </div>
</div>