

<div class="btc-counter-section my-4">
    <!-- <div class="container">
        <div class="row w-100 justify-content-space-between">
            <div class="col col-img">
                <img src="https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=014" alt="Blockstream wallet icon" width="60px" height="60px">
            </div>
            <div class="col">
                <h4>BTC</h4>
            </div>
            <div class="col">
                <h4>Bitcoin</h4>
            </div>
            <div class="col">
                <h4 id="Price">$00, 000.00</h4>
            </div>
            <div class="col">
                <h4 id="Perc">+0.00%</h4>
            </div>
        </div>
    </div> -->
    <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script>
    <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#f2a900" lcw-marquee-1="coins" lcw-marquee-2="movers"
        lcw-marquee-items="10"></div>
</div>



<!-- <script>
    var delay = ms => new Promise(res => setTimeout(res, ms));
    function calcPercentage(init, cur) {
        var perc = ((cur - init) / init) * 100
        return (perc.toFixed(4).toString()) + "%";
    }
    function btcGetData() {
        var initP = 0;
        var curP = 0;
        var i = 0;
        var formatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', });
        const ws = new WebSocket('wss://stream.binance.com:9443/ws/btcusdt@trade');
        // var P = $("#Price");
        // var percent = $("#Perc");
        ws.onopen = function (evt) {
            console.log("CONNECTED");
        };
        ws.onmessage = async function (evt) {
            var data = JSON.parse(evt.data);
            if (i == 0) {
                curP = data.p;
                initP = data.p;

            } else {
                initP = curP
                curP = data.p;
            }
            var perc = calcPercentage(initP, curP);
            $("#Price").html(formatter.format(parseFloat(data.p)))
            $("#Perc").html(perc);
            // console.log(P.html())
            i = i + 1
            await delay(5000);
        };
        ws.onerror = function (evt) {
            console.log("An error occured when trying to get data from socket")
        };

    }

    btcGetData()
</script> -->