<div class="footer-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 my-3 p-10">
                <div class="footer-logo w-100">
                    <img src="img/logo/logo-trans.png" class="img-fluid d-inline-block align-top" loading="lazy" />
                </div>
                <div class="footer-title w-100">
                    <span class="footer-logo-txt text-center">Tejon Citadel</span>
                </div>
                <!-- <div class="social-icons"> -->
                <div class="contacts d-block">
                    <h4 class="text-white text-center">
                        <i class="fas fa-phone-alt"></i>
                        +1 (866) 481-2327
                    </h4><br>
                    <h4 class="text-white text-center">
                        <i class="far fa-envelope"></i>
                        govcon@thirdrock.systems
                    </h4>
                    
                    <!-- <div class="social-links"> 
                        <a href="https://twitter.com/Blockstream" target="_blank"> 
                            <i class="fab fa-twitter"></i>
                        </a> 
                        <a href="https://ca.linkedin.com/company/blockstream" target="_blank"> 
                            <i class="fab fa-linkedin-in"></i>
                        </a> 
                        <a href="https://www.facebook.com/Blockstream/" target="_blank"> 
                            <i class="fab fa-facebook-f"></i> 
                        </a> 
                        <a href="https://t.me/blockstream" target="_blank">
                             <i class="fab fa-telegram"></i> 
                        </a> 
                        <a href="https://github.com/Blockstream" target="_blank"> 
                            <i class="fab fa-github"></i> 
                        </a> 
                        <a href="https://www.youtube.com/channel/UCZNt3fZazX9cwWcC9vjDJ4Q" target="_blank"> 
                            <i class="fab fa-youtube"></i> 
                        </a>
                    </div> -->
                </div>
                <div class="footer-terms-privacy">
                    <ul>
                        <li> <a href="/terms">Terms</a></li>
                        <li> <a href="/privacy">Privacy</a></li>
                    </ul>
                </div>
                <div class="footer-copyright">
                    <span class="copyright-year"></span>
                    ©2021 ThirdRock Systems,<br> a Division of AllOffice.Space inc.
                </div>
            </div>

            <div class="col-md-4 my-3 p-10">
                <div class="footer-about">
                    <h2 class="text-white text-left mb-3">
                        About Us
                    </h2>
                    <p class="text-left mt-4 footer-subtitle">
                        Tejon Citadel is a North American bitcoin mining company. From our datacenters we aim to support the decentralization of
                        bitcoin mining, strengthening the security of and process transactions for the blockchain network. Fix the money, fix
                        the world.
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-3">
                <div class="footer-links">
                    <h2 class="text-white text-left mb-3">
                        Useful Links
                    </h2>
                    <div class="text-left mt-4 footer-subtitle d-block">

                        <a href="https://reason.com/video/2021/02/05/bitcoin-is-protecting-human-rights-around-the-world/" target="blank" class="foot-link">
                            Bitcoin is Protecting Human Rights
                        </a><br>
                        <a href="https://bitcoinmagazine.com/markets/bitcoins-private-property-rights" target="blank" class="foot-link">
                            Bitcoin’s Private Property Rights
                        </a><br>
                        <a href="https://time.com/6106706/bitcoin-black-investors/" target="blank" class="foot-link">
                            Inside the World of Black Bitcoin, Where Crypto Is About Making More Than Just Money
                        </a><br>
                        <a href="https://bitcoinmagazine.com/culture/bitcoin-and-the-american-idea" target="blank" class="foot-link">
                            Bitcoin and the American Idea
                        </a><br>
                        <a href="https://www.coindesk.com/markets/2021/07/28/love-bitcoin-mine-your-values/" target="blank" class="foot-link">
                            Love Bitcoin? Mine Your Values
                        </a><br>
                        <a href="https://bitcoinmagazine.com/culture/mining-bitcoin-clean-energy" target="blank" class="foot-link">
                            Bitcoin Mining with Clean Energy Changes the World
                        </a><br>
                        <a href="https://www.coindesk.com/podcasts/the-breakdown-with-nlw/bitcoin-doesnt-care-about-your-politics-why-bitcoin-has-more-ideological-flexibility-than-we-think/" target="blank" class="foot-link">
                            Bitcoin Doesn’t Care About Your Politics
                        </a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>