<div class="social-mobile">
    <div class="social-links"> <a href="https://twitter.com/Blockstream" target="_blank"> <i class="fab fa-twitter"></i>
        </a> <a href="https://ca.linkedin.com/company/blockstream" target="_blank"> <i class="fab fa-linkedin-in"></i>
        </a> <a href="https://www.facebook.com/Blockstream/" target="_blank"> <i class="fab fa-facebook-f"></i> </a> <a
            href="https://t.me/blockstream" target="_blank"> <i class="fab fa-telegram"></i> </a> <a
            href="https://github.com/Blockstream" target="_blank"> <i class="fab fa-github"></i> </a> <a
            href="https://www.youtube.com/channel/UCZNt3fZazX9cwWcC9vjDJ4Q" target="_blank"> <i
                class="fab fa-youtube"></i> </a></div>
</div>
<div id="footer">
    <div class="footer-sitemap">
        <div class="footer-sitemap_logo-grid"> <img src="https://blockstream.com/img/icons/BLKS_LOGO.svg" alt="Blockstream">
            <div class="social-desktop">
                <div class="social-links"> <a href="https://twitter.com/Blockstream" target="_blank"> <i
                            class="fab fa-twitter"></i> </a> <a href="https://ca.linkedin.com/company/blockstream"
                        target="_blank"> <i class="fab fa-linkedin-in"></i> </a> <a
                        href="https://www.facebook.com/Blockstream/" target="_blank"> <i class="fab fa-facebook-f"></i>
                    </a> <a href="https://t.me/blockstream" target="_blank">
                        <i class="fab fa-telegram"></i> </a> <a href="https://github.com/Blockstream" target="_blank">
                        <i class="fab fa-github"></i> </a> <a
                        href="https://www.youtube.com/channel/UCZNt3fZazX9cwWcC9vjDJ4Q" target="_blank"> <i
                            class="fab fa-youtube"></i> </a></div>
            </div>
            <div class="footer-sitemap_logo-grid_terms_privacy">
                <ul>
                    <li> <a href="/terms">Terms</a></li>
                    <li> <a href="/privacy">Privacy</a></li>
                </ul>
            </div>
            <div class="footer-sitemap_logo-grid_copyright">
                <script type="text/javascript"> document.write("&copy; " + new Date().getFullYear());</script>©
                2021 Blockstream Corporation Inc.<br> All rights reserved.
            </div>
        </div>
        <div class="footer-sitemap_sitelinks">
            <div class="footer-sitemap_products">
                <h4 class="footer-title">Products</h4>
                <div class="footer-sitemap_products_twoColGrid collapse">
                    <ul>
                        <li> <a href="/liquid">Lorem Ipsum</a></li>
                        <li> <a href="/finance/bmn">Lorem Ipsum</a></li>
                        <li> <a href="/aqua">Lorem Ipsum</a></li>
                        <li> <a href="/amp">Lorem Ipsum</a></li>
                        <li> <a href="/jade">Lorem Ipsum</a></li>
                        <li> <a href="/green">Lorem Ipsum</a></li>
                    </ul>
                    <ul>
                        <li> <a href="/mining">Lorem Ipsum</a></li>
                        <li> <a href="/satellite">Lorem Ipsum</a></li>
                        <li> <a href="https://blockstream.info/" target="_blank">Lorem Ipsum</a></li>
                        <li> <a href="/cryptofeed">Lorem Ipsum</a></li>
                        <li> <a href="/lightning">Lorem Ipsum</a></li>
                        <li> <a href="/elements">Lorem Ipsum</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-sitemap_otherlinks">
                <div>
                    <h4 class="footer-title">Developers</h4>
                    <ul class="collapse">
                        <li> <a href="https://medium.com/blockstream" target="_blank">Engineering Blog</a></li>
                        <li> <a href="https://docs.blockstream.com/" target="_blank">Documentation</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="footer-title">Company</h4>
                    <ul class="collapse">
                        <li> <a href="/research">Research</a></li>
                        <li> <a href="/about">About</a></li>
                        <li> <a href="/careers">Careers</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="footer-title">Resources</h4>
                    <ul class="collapse">
                        <li> <a href="https://help.blockstream.com/">Support</a></li>
                        <li> <a href="/contact">Contact</a></li>
                        <li> <a href="/brand-assets">Brand Assets</a></li>
                        <li> <a href="https://www.blockstreamscamdb.com/">Scam DB</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><a id="back-to-top" class="show"></a>