<div class="footer-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 my-3 p-10">
                <div class="footer-logo w-100">
                    <img src="img/logo/logo-trans.png" class="img-fluid d-inline-block align-top" loading="lazy" />
                </div>
                <div class="footer-title w-100">
                    <span class="footer-logo-txt text-center">Tejon Citadel</span>
                </div>
                <div class="social-icons">
                    <div class="social-links"> 
                        <a href="https://twitter.com/Blockstream" target="_blank"> 
                            <i class="fab fa-twitter"></i>
                        </a> 
                        <a href="https://ca.linkedin.com/company/blockstream" target="_blank"> 
                            <i class="fab fa-linkedin-in"></i>
                        </a> 
                        <a href="https://www.facebook.com/Blockstream/" target="_blank"> 
                            <i class="fab fa-facebook-f"></i> 
                        </a> 
                        <a href="https://t.me/blockstream" target="_blank">
                             <i class="fab fa-telegram"></i> 
                        </a> 
                        <a href="https://github.com/Blockstream" target="_blank"> 
                            <i class="fab fa-github"></i> 
                        </a> 
                        <a href="https://www.youtube.com/channel/UCZNt3fZazX9cwWcC9vjDJ4Q" target="_blank"> 
                            <i class="fab fa-youtube"></i> 
                        </a>
                    </div>
                </div>
                <div class="footer-terms-privacy">
                    <ul>
                        <li> <a href="/terms">Terms</a></li>
                        <li> <a href="/privacy">Privacy</a></li>
                    </ul>
                </div>
                <div class="footer-copyright">
                    <span class="copyright-year"></span>
                    ©2021 Tejon Inc.<br> All rights reserved.
                </div>
            </div>

            <div class="col-md-4 my-3 p-10">
                <div class="footer-about">
                    <h2 class="text-white text-left mb-3">
                        About Us
                    </h2>
                    <p class="text-left mt-4 footer-subtitle">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Iste, a doloribus. Voluptates quibusdam harum molestias dolore possimus 
                        laboriosam dolores et minima tempora. 
                        Quod inventore et illo cupiditate! Deserunt iure quibusdam quis illo molestias nulla porro! Ab, 
                        molestiae, odit explicabo ut eius, amet itaque non tenetur rem quam harum ipsa fugit?
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-3 p-4">
                <div class="footer-links">
                    <h2 class="text-white text-left mb-3">
                        Useful Links
                    </h2>
                    <div class="text-left mt-4 footer-subtitle d-block">
                        <a href="#" class="foot-link">
                            Help
                        </a><br>
                        <a href="#" class="foot-link">
                            Terms & Conditions
                        </a><br>
                        <a href="#" class="foot-link">
                            Privacy Policy
                        </a><br>
                        <a href="#" class="foot-link">
                            Support
                        </a><br>
                        <a href="#" class="foot-link">
                            Careers
                        </a><br>
                        <a href="#" class="foot-link">
                            Documentation
                        </a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>