<div class="header-section">
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="img/logo/logo-trans.png" width="195" height="60" class="ml-5 d-inline-block align-top"
                alt="" loading="lazy">
        </a>
    </nav>
    <div class="container mt-120">
        <div class="row">
            <div class="col-md-6">
                <div class="header-hero">
                        <h1 class="hero-title wow fadeInLeft" data-wow-delay="1.5s">Rethinking Trust.</h1>
                        <p class="hero-title-subheading wow fadeInLeft" data-wow-delay="1.8s"> 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, 
                            dolore? Molestiae, consequatur iste. Quas, soluta voluptatibus? 
                            Quas voluptas obcaecati, laboriosam nobis, non quaerat facere amet rem qui unde sapiente vel!
                        </p>
                        <a href="#" class="btn btn-outline-tejon text-center wow bounceIn" data-wow-delay="2s">
                            Learn More <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-hero-img wow fadeInRight" data-wow-delay="2.6s">
                    <img src="img/bg/hero/hero-1.svg" alt="bitcoin hero image" class="align-top" />
                </div>
            </div>
        </div>
    </div>
</div>