<div  class="header-section">
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="img/logo/logo-trans.png" width="195" height="60" class="ml-5 d-inline-block align-top"
                alt="" loading="lazy">
            
        </a>
        <span class="logo-txt">
            TEJON <br><strong>CITADEL</strong>
        </span>
    </nav>
    <div class="floating-icons">
        <div class="float-1">
            <i class="fas fa-hammer animate__animated animate__wobble animate__infinite"></i>
        </div>
        <div class="float-2">
            <i class="far fa-gem animate__animated animate__shakeY animate__infinite"></i>
        </div>
        <div class="float-3">
            <i class="fas fa-search-dollar animate__animated animate__wobble animate__infinite"></i>
        </div>
        <div class="float-4">
            <i class="fas fa-server animate__animated animate__wobble animate__infinite"></i>
        </div>

        <div class="float-5">
            <i class="fas fa-mountain animate__animated animate__shakeY animate__infinite"></i>
        </div>
        <div class="float-6">
            <i class="fas fa-coins animate__animated animate__wobble animate__infinite"></i>
        </div>
    </div>
    <div class="container mt-120 mb-90">
        <div class="row">
            <div class="col-md-6">
                <div class="header-hero">
                        <h1 class="hero-title text-left wow fadeInLeft">A Bitcoin Mining Company.</h1>
                        <p class="hero-subtitle text-white my-3wow fadeInLeft" data-wow-delay="1.8s"> 
                            Tejon Citadel is a North American bitcoin mining company. From our datacenters we aim to support the decentralization of
                            bitcoin mining, strengthening the security of and process transactions for the blockchain network. Fix the money, fix
                            the world.
                        </p>
                        <a href="#aboutUs" class="btn btn-outline-tejon shifty text-center wow bounceIn" data-wow-delay="2s">
                            Learn More <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-hero-img wow fadeInRight">
                    <img src="img/bg/hero/hero-1.svg" alt="bitcoin hero image" class="align-top" />
                </div>
            </div>
        </div>
    </div>
</div>