

<div class="newsletter-section">
    <div class="container">
        <div class="newsletter-header">
            <h2 class="wow slideInUp">Subscribe for updates</h2>
            <p class="wow fadeInUp">Sign up for our monthly newsletter, where we’ll keep you up-to-date with the latest product updates at Tejon Citadel.</p>
        </div>
        <div class="newsletter-body">
            <form enctype="multipart/form-data" method="POST">
                <div class="form-group col-12">
                    <label id="" for="newsletter-email">Email*</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="newsletter-email" />
                        <button class="btn btn-tejon" type="button">
                            SUBMIT
                        </button>
                    </div>
                    
                </div>
            </form>
        </div>
        
    </div>
</div>