
<div class="videobg-section my-4">

    <div class="container">
        <div class="row">
            <div class="col-12 mt-120">
                <div class="aboutus-title">
                    <h1 class="title-section py-3 vtitle text-center wow fadeInUp">Pictures Speaker louder than a thousand words</h1>
                    <p class="subtitle my-2 subTitle text-center text-white wow fadeInUp" data-wow-delay="1s">
                        Images of powerful Bitcoin Miner Machines
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 videobg-spacing">
        <div class="vidvid">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/x9J0NdV0u9k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>

</div>