<div class="videobg-section my-4">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-title">
                    <h1 class="title-section py-3 vtitle">Images are better than words, see how we do it!</h1>
                    <p class="subtitle my-2 subTitle">
                        These are images for one of powerful bitcoin miners.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 videobg-spacing">
        <div class="vidvid">
            <iframe width="1350" height="480" src="https://www.youtube.com/embed/x9J0NdV0u9k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        
    </div>

</div>